.navbar-brand{
    font-family:"DM Sans", sans-serif;
    font-weight: bold;
}
.navbar-nav{
    font-family:"DM Sans", sans-serif;
    gap: 30px;
}
.collapse{
    margin-left: 400px;
}
.hero{
    background-color: #1090CB1A;
}
.head{
    font-family: "DM Sans", sans-serif;
}
.chart{
    display: flex;
    justify-content:space-around;
   margin-top: 50px;
  
}
.para{
    text-align: center;
    font-family:"DM Sans", sans-serif ;
    margin-top: 20px;
}

/* one chart */
.heading1{
  margin-left: 30px;
}
.para1{
  margin-left: 70px;
}
/* two chart */
.heading2{
  margin-left: 30px;
}
.para2{
  margin-left: 70px;
}
/* three chart */
.heading3{
  margin-left: 30px;
}
.para3{
  margin-left: 70px;
}
/* four chart */
.heading4{
  margin-left: 30px;
}
.para4{
  margin-left: 70px;
}
.hero1{
    font-family: "DM Sans", sans-serif;
}
.section{
      margin-left: 20px;
      margin-top: 10px;
}
.part{
      margin-left: 20px;
      padding-left: 60px;
}
.card-body1{
    background-color:lightgray;
    text-align: center;
}
.card-body2{
    background-color:#1090CB;
    color: white;
     text-align: center;
}

.button{
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.card1{
    width: 500px;
    margin-left: 60px;
   
}
.card2{
    width: 500px;
    margin-left: 40px;

  }
  .bell{
    margin-left: 400px;
  }
  .center-sec1{
    background-color: #E8F4FA;
    height: 700px;
  }
  .button2{
    position:relative;
    right: 70px;
  }
  .row{
    display: flex;
    justify-content: space-around;
  }
  .footerp{
   /* margin-left: 400px; */
  }
  
@media screen and (min-width:0px)and (max-width:480px)
{
   .chart{
    display: block;
    flex-direction: column;
   } 
   .part1{
    display: block;
    flex-direction: column;
   }
   .image{
    width: 50px;
    height: 50px;
   }
   .card1{
   margin-left: 0px;
    margin-right: 200px;
   }
   .icons{
    display: flex;
    flex-direction: column;
    text-align: center;
   }
   .inputfield{
    width: 400px;
    height: 200px;
   }
   .button2{
    margin-left:100px ;
    padding-bottom: 100px;
   }
   .footerp{
    text-align: center;
   }
   .row{
    text-align: center;
   }
   .chart{
    text-align: center;
    line-height: 20px;
   }
   .one{
    margin-left: 50px;
   }
      .two{
    margin-left: 50px;
    line-height: 20px;
   }
      .three{
    margin-left: 50px;
     line-height: 20px;
   }
      .four{
    margin-left: 50px;
     line-height: 20px;
   }
   .para3{
    line-height: 20px;
   }
   .card1{
    width: 400px;
   }
   .card2{
    width: 400px;
   }
   .bell{
   margin-left: 0px;
   }
   .collapse{
    margin-left: 0px;
}
   }
